html  
    head 
        title Index Page 
        style.
            h1{
                color : red;
            }

body 
    #haeder 
        h1 #{name}
        h2= description
    hr
    - for(var i = 0; i < 10; i++){
        p
            a(href="http://www.daum.net",data-test="multiple Attribute") Go To Daum #{i}

    -}

//- jade에서는 태그를 닫지않음
//- #header = <div id = "header"></div>
//- .article  = <div class = "article"></div>
//- -Code -> 스크립트코드 ex) -for(){}
//- #{Value} -> 데이터 출력, =Value -> 데이터 출력